@model IEnumerable<GigHub.Models.Gig>

@{
    ViewBag.Title = "title";
    
}

<h2 style="margin-top: -15px; padding-bottom: 25px; ">My Upcoming Gigs</h2>

<ul class="gigs">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">@gig.Date.ToString("MMM")</div>
                <div class="day">@gig.Date.ToString("d ")</div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Venue
                </span>
                <span class="genre">@gig.Genre.Name</span>
                <div class="action" >
                    <a class="" href="@Url.Action("Edit","Gigs",new {id=gig.Id})">Edit</a>|
                    <a class="" id="js-gig-cancel" data-gig-id="@gig.Id" href="#">Cancle</a>
                    
                </div>
            </div>
        </li>
    }
</ul>

@section scripts
{
    
    <script>
        $(document).ready(function() {
            $("#js-gig-cancel").click(function(e) {

                var link = $(e.target);

                bootbox.dialog({
                    title: 'Confrim',
                    message: 'Are you sure to cancel this gig?',
                    size: 'small',
                    onEscape: true,
                    backdrop: true,
                    buttons: {
                        No: {
                            label: 'No',
                            className: 'btn-default',
                            callback: function() {
                                bootbox.hideAll();
                            }
                        },
                        Yes: {
                            label: 'Yes',
                            className: 'btn-danger',
                            callback: function() {
                                $.ajax({
                                        url: "/api/Gigs/" + link.attr("data-gig-id"),
                                        method: "DELETE"
                                    })
                                    .done(function () {
                                        link.parents("li").fadeOut(function () {
                                            $(this).remove();
                                        });
                                    })
                                    .fail(function () {
                                        alert("Something Failed");
                                    });

                            }
                        }

                    }
                });

            });

        });
    </script>
}
